.vscode
exerc_1_1.exe
exerc_1_2.exe
exerc_1_3.exe
exerc_1_4.exe
exerc_2_1.exe
exerc_2_2.exe
exerc_2_3.exe
exerc_2_4.exe
exerc_2_5.exe
exerc_2_7.exe
exerc_2_8.exe
exerc_2_6.exe
exerc_3_1.exe
exerc_3_2.exe
